<ion-view title="探索" id="explore">
  <ion-content padding="true" class="has-header">
    <!-- <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="data.slider" delegate-handle="slider2" id="explore-slider2"  style="width:100%;height:200px;">
      <ion-slide-page id="explore-slide27" style="background:url(img/slid1.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="explore-slide28" style="background:url(img/slid2.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="explore-slide29" style="background:url(img/slid3.jpg) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides> -->
    <ion-slide-box does-continue="true" auto-play="true" show-pager="true">
    <ion-slide>
      <img src="img/slid1.jpg" class="full">
    </ion-slide>
    <ion-slide>
      <img src="img/slid2.jpg" class="full">
    </ion-slide>
    <ion-slide>
      <img src="img/slid3.jpg" class="full">
    </ion-slide>
  </ion-slide-box>
    <div class="list card" id="explore-card21">
      <ion-item class="item-avatar" id="explore-list-item8">
      <img src="img/list1.jpg" alt="">
        <h2>【日系纯音】高能神曲的超神翻奏！</h2>
      </ion-item>
      <p class="padding-left">
        #每日晚间话题# 一个冬天里喜欢的人的温暖拥抱和一顿火锅，选哪个？
      </p>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <img src="img/comnt1.jpg" class="full" alt="" >
      </div>
      
      <ion-item class="item-icon-left assertive" id="explore-list-item9">
        <ionplay></ionplay>
      

    </div>
    <div class="list card" id="explore-card21">
      <ion-item class="item-avatar" id="explore-list-item8">
      <img src="img/list1.jpg" alt="">
        <h2>【日系纯音】高能神曲的超神翻奏！</h2>
      </ion-item>
      <p class="padding-left">
        美国创作歌手Tinashé最新单曲《Company (MUNA Remix)》来啦！Tinashé的声音一如既往的性感迷离，一开口就让人沉溺~
      </p>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <img src="img/comnt2.jpg" class="full" alt="" >
      </div>
      
      <ion-item class="item-icon-left assertive" id="explore-list-item9">
        <ionplay></ionplay>
      
      
    </div>
    <div class="list card" id="explore-card21">
      <ion-item class="item-avatar" id="explore-list-item8">
      <img src="img/avart1.jpg" alt="">
        <h2>【日系纯音】高能神曲的超神翻奏！</h2>
      </ion-item>
      <p class="padding-left">
        #每日晚间话题# 一个冬天里喜欢的人的温暖拥抱和一顿火锅，选哪个？
      </p>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <img src="img/comnt1.jpg" class="full" alt="" >
      </div>
      
      <ion-item class="item-icon-left assertive" id="explore-list-item9">
        <!-- <i class="icon ion-music-note"></i>Play Song</ion-item> -->
      <ionplay></ionplay>

    </div>
    <div class="list card" id="explore-card21">
      <ion-item class="item-avatar" id="explore-list-item8">
      <img src="img/list1.jpg" alt="">
        <h2>【日系纯音】高能神曲的超神翻奏！</h2>
      </ion-item>
      <p class="padding-left">
        美国创作歌手Tinashé最新单曲《Company (MUNA Remix)》来啦！Tinashé的声音一如既往的性感迷离，一开口就让人沉溺~
      </p>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <img src="img/comnt2.jpg" class="full" alt="" >
      </div>
      
      <ion-item class="item-icon-left assertive" id="explore-list-item9">
         <ionplay></ionplay>
      
      
    </div>
  </ion-content>
</ion-view>