<ion-view title="播放" id="play" style="background-color:#8834BB;">
  <ion-content padding="true" class="has-header">
  <div class="spacer" style="height: 40px;"></div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <img src="img/cover.jpg" alt="" class="full">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="play-list6">
      <ion-item class="item-avatar " style="background-color:rgba(255, 255, 255, 0.15);border:none" id="play-list-item21">
      <img src="img/avart2.jpg" alt="">
        <h2>One Direction</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    
    
    <form id="play-form3" class="list ">
      <ion-item class="range range-royal" id="play-range2" style="background-color:rgba(255, 255, 255, 0.15);border:none">
      <button id="play-button14" style="font-weight:lighter;" class="button button-balanced  button-clear icon ion-play"></button>
        <input type="range" value="50" min="0" max="100" step="1">
        <span style="font-size:12px">00:00/04:28</span>
      </ion-item>
    </form>
  </ion-content>
</ion-view>