<ion-view title="搜索" id="search" style="background-color:#D11950;">
    <ion-content padding="true" class="has-header">
        <form id="search-form4" class="list">
            <label class="item item-input" style="background-color:rgba(209,25,84,.6)" id="search-search1">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="请输入您要的歌曲">
            </label>
        </form>
        <div id="search-container1" class="creator-container"></div>
        <div id="search-container2">
            <ion-list id="search-list3">
                <ion-item class="item-thumbnail-left item-icon-right" id="search-list-item5">
                    <img src="img/avart2.jpg" alt="">
                    <h2>One Direction</h2>
                    <p>4353353</p>
                    <i class="icon ion-android-alarm-clock"></i>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body" id="search-list-item-container2">
            <div id="search-markdown4" class="show-list-numbers-and-dots">
                <p style="margin-top:0px;color:#000000;">自分より下手くそな人 尋找比自己更沒用的人 探して浸るの優越感 沉浸於這般的優越感之中 でもその度ちょっと自分を嫌って 但每當這樣做就會有點變得討厭自己 次元遡って現実逃避 回遡次元逃避現實 でも良いんじゃない？ 但這樣也不錯吧？ 別に良いんじゃない？
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
