<xsearch></xsearch>
<div class="weui-panel weui-panel_access" style="background-color:{{nightModel?'rgba(0,0,0,.8)':''}}">
    
    <div class="weui-panel__bd">
        <a href="#/index/detail/{{$index}}" class="weui-media-box weui-media-box_appmsg" ng-repeat="new in news|filter:searchWord">
        <!-- 注意指令后面表达式格式 -->
            <div class="weui-media-box__hd" ng-show="new.havePic">
                <img class="weui-media-box__thumb" ng-src={{new.imageurls[0].url}}   alt="">
            </div>
            <div class="weui-media-box__bd">
                <h4 class="weui-media-box__title">{{new.title}}</h4>
                <p class="weui-media-box__desc">{{new.desc}}</p>
            </div>
        </a>
        
    </div>
    <div class="weui-panel__ft">
        <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link" ng-click='loadChannel(id)'>
            <div class="weui-cell__bd" >查看更多</div>
            <span class="weui-cell__ft"></span>
        </a>    
    </div>
    <div class="weui-loadmore" ng-show="listMore">
    <i class="weui-loading"></i>
    <span class="weui-loadmore__tips">正在加载</span>
</div>

<!-- <div class="weui-loadmore weui-loadmore_line weui-loadmore_dot">
    <span class="weui-loadmore__tips"></span>
</div>
</div> -->
